
<%for(var a in autor){%>
	<img src="<%= autor[a].foto %>"  alt="Carlos Peña" class="img-rounded" height="10%" width="10%">
 	<p>
	<strong>Nombre: </strong> <%= autor[a].nombre %> <br>
	<strong>Ocupación: </strong>Estudiante de Ingeniería en Sistemas Computacionales
	<br>
	Soy estudiante de la carrera de Ingeniería en Sistemas Computacionales en el Instituto Tecnológico de Chetumal.
	Vivo en la ciudad de Chetumal, Quintana Roo, México.
	</p>
<%}%>

